<fieldset id='activities'>
  <%= flash[:form] %>
  <%= flash[:activity] %>
  <legend>Activities</legend>
  <dl>
    <% observation.activities.each_with_index do | activity, activity_index| %>
      <div class="activity">
        <dt>Worker</dt>
          <dd><%= activity.person.try(:name) %></dd>
        <dt>Hours</dt>
          <dd><%= activity.hours %></dd>
        <% unless activity.setups.blank? %>
          <dt>Setups</dt>
          <dd>
            <dl>
              <% activity.setups.each_with_index do |setup,setup_index| %>
                <div class="setup">
                  <dt>Equipment</dt>
                    <dd><%= setup.equipment.try(:name) %></dd>
                  <% unless setup.material_transactions.blank? %>
                    <dt>Material Transactions</dt>
                    <dd>
                      <dl>
                        <% setup.material_transactions.each_with_index do |material_transaction, material_index| %>
                          <div class="material_transaction">
                            <dt>Material</dt>
                              <dd><%= material_transaction.material.try(:name) %></dd>
                            <dt>Rate</dt>
                              <dd><%= material_transaction.rate %> <%= material_transaction.unit.try(:name) %> per acre </dd>
                            <%= link_to 'delete material', material_transaction_path(material_transaction), :class => "deleter" %>
                          </div>
                        <% end %>
                      </dl>
                    </dd>
                  <% end %>

                  <%= link_to 'add material', new_material_transaction_path(:setup_id => setup.id), :class => 'data_popup' %>
                  |
                  <%= link_to 'delete setup', setup_path(setup), :class => "deleter" %>
                </div>
              <% end %>
            </dl>
          </dd>
        <% end %>

        <%= link_to 'add setup', new_setup_path(:activity_id => activity.id), :class => 'data_popup' %>
        |
        <%= link_to 'delete activity', activity_path(activity), :class => "deleter" %>
      </div>
    <% end %>
  </dl>
</fieldset>

