<%= form.inputs do %>
  <%= form.input :obs_date, :start_year=>1988 %>
  <%= form.input :comment, :id=>'focus_here' %>
  <%= form.input :areas_as_text, :hint=>'T6 T5R1 T4!R3 T1-T4 T1R1-3' %>
  <%= form.input :observation_types, :multiple=>true%>


  <div id='actvities'>
    <%= form.inputs :for => :activities do |builder| %>
      <%= render 'activity_fields', :f => builder %>
    <% end %>
  </div>
  <%= link_to_add_fields "Add Activity", form, :activities %>
<% end %>
