<%= form.inputs do %>
  <%= form.input :observation_date, :start_year=>1988, :input_html => {:class => 'datepicker' }%>
  <%= form.input :comment, :input_html=>{:class => 'autofocus'} %>
  <%= form.input :areas_as_text, :hint=> area_help_text, :input_html => {'data-pre' => @observation.prepopulated_area_tokens} %>
  <%= form.input :observation_types, :as=>:check_boxes, :multiple=>true%>


  <div class='activities'>
    <%= form.inputs :for => :activities do |builder| %>
      <%= render 'activity_fields', :f => builder, :only_current => only_current %>
    <% end %>
  </div>
  <%= link_to_add_fields "Add Activity", form, :activities, only_current %>
<% end %>
