<div class="form-group row">
  <label for="observation_observation_date" class="control-label col-sm-2">Observation Date</label>
  <div class="col-sm-10">
    <%= form.text_field :observation_date, class: "datepicker"%>
  </div>
</div>
<div class="form-group row">
  <label for="observation_comment" class="control-label col-sm-2">Comment</label>
  <div class="col-sm-10">
    <%= form.text_area :comment, class: "autofocus form-control", rows: 3 %>
  </div>
</div>
<div class="form-group row">
  <label for="observation_areas_as_text" class="control-label col-sm-2">Areas</label>
  <%= form.text_field :areas_as_text, hint: area_help_text, class: "token-input", "data-pre" => @observation.prepopulated_area_tokens %>
</div>
<label class="control-label">Observation Type</label>
<% ObservationType.all.each do |obs_type| %>
  <div class="checkbox">
    <label>
      <%= check_box_tag "observation_observation_type_ids_#{obs_type.id}", obs_type.id, 
        @observation.observation_types.include?(obs_type), name: "observation[observation_type_ids][]" %>
      <%= obs_type.name %>
    </label>
  </div>
<% end %>

<div class="activities row">
  <%= form.fields_for :activities do |builder| %>
      <%= render 'activity_fields', :f => builder, only_current: only_current %>
  <% end %>
</div>
<%= link_to_add_fields "Add Activity", form, :activities, only_current %>

<div class='notes form-group row'>
  <label>Notes</label>
  <ul>
    <% form.object.notes.each_with_index do |note, i|%>
      <li>
      <input id=observation_notes_<%=i%> type='checkbox' name='observation[notes][<%=i%>]' value=false>
      <label id=observation_notes_<%=i%>>delete <%= note.url %> ?</label>
      </li>
    <% end %>
  </ul>
  <div class="col-sm-5 btn btn-file">
    <%= form.file_field :notes, multiple: true %>
    <%= form.hidden_field :notes_cache %>
  </div>
</div>
