<div class="form-group inputs row ">
  <div class="col-5">
    <% if only_current %>
      <%= f.select :material_id, Material.by_company(current_user.companies).current.ordered.map {|m| [m.name, m.id]}, {:include_blank=>false}, {class: "form-control"} %>
    <% else %>
      <%= f.select :material_id, Material.by_company(current_user.companies).ordered.map {|m| [m.name, m.id]}, {:include_blank=>false}, {class: "form-control"} %>
    <% end %>
  </div>
  <div class="col-2">
    <%= f.text_field :rate, class: "form-control" %>
  </div>
  <div class="col-2">
    <%= f.select :unit_id, Unit.all.map {|u| [u.name, u.id]}, {}, {class: "form-control"}  %>
  </div>
  <div class="col-2">
    per acre
  </div>
  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove Material", '#', class: "remove_fields" %>
</fieldset>
