<%= f.inputs do %>
  <%= f.input :equipment %>
  <%= link_to_remove_fields 'Remove', f%>

  <div class='material-transaction'>
    <%= f.inputs :for => :material_transactions do |builder| %>
      <%= render 'material_transaction_fields', :f => builder %>
    <% end %>
  </div>
  <%= link_to_add_fields 'Add', f, :material_transactions %>
<% end %>
