<h1>Edit observation</h1>

Created on: <%= @observation.created_on  %>

<%= semantic_form_for @observation do |form| %>

  <%= render :partial => 'form', :locals => {:form => form, :only_current => false } %>
  <%= form.buttons %>
<% end %>


<%= link_to 'Show', observation_path(@observation) %> |
<%= link_to 'List Observations', observations_path %>
