<h1>Edit observation</h1>

Created on: <%= @observation.created_on  %>

 <div ng-app='Aglog' data-observation-id = <%= @observation.id %> >

  <div ng-controller='NewCtrl' data-observation-id = <%= @observation.id %> >
    <form> 
    <label>Observation Date</label>
    <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="obs.obs_date"
      ng-required=true show-weeks=false is-open="opened" datepicker-options="dateOptions" />

    <label>Observation</label>
    <textarea class='span6' ng-model='obs.comment' placeholder='describe what happened'></textarea>

    <label>Areas</label>
    <select ui-select2 ng-model='selectedArea' class='input-large' placeholder='select an area' ng-change='updateAreaTags()'>
      <option value=''></option>
      <option ng-repeat='area in areas' value={{area.id}}>{{area.text}}</option>
    </select>
    <input id='areaSelect' type="text"  ui-select2="tagAllOptions" ng-model="tagsSelection" class="input-xlarge"/>

    <label id='observation-type-label' class='clearfix'>Observation Type</label>
    <label ng-repeat='observation_type in obs.observation_types'>
      <input type='checkbox' name='observation_types[]' value='{{observation_type.name}}' ng-model="observation_type.checked"/>
      <span>{{observation_type.name}}</span>
    </label>

    <ul class='unstyled'>
      <li class='well' ng-repeat="activity in obs.activities">
      <button ng-click="removeActivity($index)" class="close">&times;</button>
      <label>Person</label>
      <select ng-model="activity.person" ng-selected="0" ng-options="person as person.name for person in obs.people track by person.id">
        </select>
      <div>
        <ul class='unstyled'>
          <li class='well' ng-repeat="setup in activity.setups">
          <button ng-click="removeEquipment(activity, $index)" class="close">&times;</button>

          <label>Equipment</label>
          <select ng-model='setup.equipment' ng-options="equip as equip.name for equip in obs.equipment track by equip.id">
          </select>
          <div>
            <ul class='unstyled'>
              <li ng-repeat="material in setup.materials">
              <div class='well well-small form-inline'>
                <button ng-click="removeMaterial(equipment, $index)" class="close">&times;</button>
                <label>Material</label>
                <select ng-model='setup.material' ng-options='material.id as material.name for material in obs.material track by material.id">
                </select>
                <input type='number' class='input-mini' ng-model='material.amount'></input>
                <select ng-model='material.unit'>
                  <option>pounds</option>
                  <option>stones</option>
                </select>
                <label>per Acre</label>
              </div>
              </li>
            </ul>
          </div>
          <button ng-click="addMaterial(equipment)">Add Material</button>
          </li>
        </ul>
      </div>
      <button ng-click="addEquipment(activity)">Add Equipment</button>
      </li>
    </ul>

    <button ng-click="addActivity()">Add Activity</button>
    <button ng-click='addFile()'>Add File</button>
    <button type='submit' ng-submit>Submit</button>
  </form>
</div>
<div>


<%= link_to 'Show', observation_path(@observation) %> |
<%= link_to 'List Observations', observations_path %>
