<h1>Edit observation</h1>

Created on: <%= @observation.created_on  %>

<%= form_for @observation, input_html: {class: "form-horizontal", role: "form"}  do |form| %>
  <%= render :partial => 'form', :locals => {:form => form, :only_current => false } %>
  <%= form.submit "Submit" %>
<% end %>


<%= link_to "Show", observation_path(@observation) %> |
<%= link_to "List Observations", observations_path %>
