<h1>New Observation</h1>

<div class="content">
  <%= render partial: 'flash_notice' %>

  <%= form_for @observation, html: {multipart: true, class: "form", role: "form"}  do |form| %>
    <div>
      <%= render :partial => 'form', :locals => {:form => form, :only_current => true } %>
    </div>
    <%= form.submit "Create", class: "btn btn-primary" %>
  <% end %>

    <%= link_to 'List Observations', observations_path %>
</div>
