<h1>Show Observation</h1>
<p>
  <b>User:</b>
  <%= @observation.person_name %>
</p>

<p>
  <b>Created on:</b>
  <%= @observation.created_on %>
</p>
<p>
  <b>Observation Date</b>
  <%= @observation.obs_date  %>
</p>
<p>
  <b>Comment:</b><br/>
  <%= @observation.comment %>
</p>
<p>
  <b>Areas:</b><br/>
  <%= @areas_as_text %>
</p>
<p>
  <b>Observation Type:</b><br/>
  <% @observation.observation_types.each  do |type| %>
    <%= type.name %>
  <% end %>
</p>
<p>
<b>Activities: </b><br/>
<% @observation.activities.each do | activity | %>
  <div>
    Worker: <%= activity.person_name %><br/>
    <% activity.setups.each do |setup| %>
      <div class='indent'>
        Equipment: <%= setup.equipment_name %>
        <% setup.material_transactions.each do |transaction| %>
          &#149 Material: <%= transaction.material_name %>
          @ <%= transaction.rate %>
          <%= transaction.unit_name %> per acre
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
</p>

<p>
<% unless @observation.note.file.nil? %>
  <b> Attachment:</b><br/>
  <%= link_to @observation.note.file.try(:filename), @observation.note.url %>
  </p>
<% end %>

  <b> Attachments:</b><br/>
  <ul>
<% @observation.notes.each do |note| %>
  <li><%= link_to note.file.try(:filename), note.url %></li>
<% end %>
</ul>

<%= link_to 'Related Observations', related_observations_path(:id => @observation.id) %>
<%= link_to 'New observation', new_observation_path %>
<%= link_to 'Edit', edit_observation_path(@observation) if  @observation.editable?(current_user) %>
<%= link_to 'List Observations', observations_path %>

