= render "shared/error_messages", :target => person 
= semantic_form_for person do |form|
  = form.inputs do
    = form.input :given_name, :input_html => { :id => 'focus_here' }
    = form.input :sur_name
    = form.input :archived
  = form.actions
