<h1> <%=h @person.name  %> </h1>
<ul>
<% @person.activities.each do | activity | %>
  <li><%=activity.observation.obs_date %> <%= activity.observation.comment %> <%= link_to "Show", activity.observation %></li>
<% end %>
</ul>
<%= link_to 'Edit', edit_person_path(@person) if current_user  %>
<%= link_to 'Back', people_path %>
