%h1 Listing hazards

%table
  %tr
    %th Name
    %th Type
    %th chemical_name
    %th Exclusion time

  - @hazards.each do |hazard|
    %tr
      %td
        = hazard.name
      %td
        = hazard.hazard_type
      %td
        = hazard.chemical_name
      %td
        = hazard.exclusion_time_days
      %td
        = link_to 'Show', hazard
      %td
        = link_to 'Edit', edit_hazard_path(hazard)
      %td
        = link_to 'Destroy', hazard, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New hazard', new_hazard_path
