<h1>Listing hazards</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>chemical_name</th>
    <th>Exclusion time</th>
  </tr>

  <% @hazards.each do |hazard| %>
    <tr>
      <td><%= hazard.name %></td>
      <td><%= hazard.hazard_type %></td>
      <td><%= hazard.chemical_name %></td>
      <td><%= hazard.exclusion_time_days %></td>

      <td><%= link_to 'Show', hazard %></td>
      <% if signed_in? %>
        <td><%= link_to 'Edit', edit_hazard_path(hazard) %></td>
        <td><%= link_to 'Destroy', hazard, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New hazard', new_hazard_path %>
