<h1>New hazard</h1>

<%= render "shared/error_messages", :target => @hazard %>

<%= form_for(@hazard) do |f| %>
  <p>
    <%= render 'form', :f => f %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'List', hazards_path %>
