<h1>Show Hazard</h1>

<dl>
  <dt>Name:</dt>
    <dd><%= @hazard.name %></dd>
  <dt>Hazard Type:</dt>
    <dd><%= @hazard.hazard_type %></dd>
  <dt>Chemical Name:</dt>
    <dd><%= @hazard.chemical_name %></dd>
  <dt>Description:</dt>
    <dd><%= @hazard.description %></dd>
  <dt>Notification:</dt>
    <dd><%= @hazard.notification %></dd>
  <dt>Exclusion Time (Days):</dt>
    <dd><%= @hazard.exclusion_time_days %></dd>
</dl>

<%= link_to 'Edit', edit_hazard_path(@hazard) %> |
<%= link_to 'List', hazards_path %>
