= render "shared/error_messages", :target => equipment
= semantic_form_for equipment do |form|
  = form.inputs do
    = form.input :name
    = form.input :use_material
    = form.input :is_tractor, :label => 'Tractor'
    = form.input :archived
    = form.input :description, :as => :text
  = form.actions
