<h1>New equipment</h1>

<%= render "shared/error_messages", :target => @equipment %>

<%= form_for(:equipment, :url => {:controller => 'equipment', :action => 'create'}) do |f| %>
  <p>
    <b>Name:</b>
    <%= f.text_field :name %>
    <b>&nbsp Use Material:</b><%= f.check_box :use_material %> 
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', :url => {controller => 'equipment', :action => 'index'} %>