<p>
  <b> Name:</b>
  <%= @equipment.name %>
  </br>
  <ul>
    <%= raw("<li>Uses Material</li>") if @equipment.use_material? %>
    <%= raw("<li>Is a Tractor</li>") if @equipment.is_tractor? %>
    <%= raw("<li>Archived</li>") if @equipment.archived? %>
    <%= raw("<li>Non-MSU</li>") if @equipment.non_msu? %>
    <%  if @equipment.description? %>
      <b> Description:</b>
      <%= @equipment.description %>
    <% end %>
  </ul>

  <ul>
    <% @equipment.equipment_pictures.each do |picture| %>
      <li> <%= image_tag(picture.picture.url) %> </li>
    <% end %>
  </ul>

</p>

<% @equipment.observations.each do |observation| %>
  <p>
    <%= link_to observation.obs_date, observation_path(observation) %>
    <%= observation.observation_type %>
    <%= observation.comment %>
  </p>
<% end %>

<% if signed_in? %>
  <%= link_to 'Edit', edit_equipment_path(@equipment) %>
  |
  <%= link_to 'Back', equipment_index_path %>
<% end %>
