<li class="tree-toggle">
  <span>
    <%= area.name %>
    <%= area.description %>
    <%= link_to 'Show', area %>
    <%- if signed_in? %>
      <%= link_to 'Edit', edit_area_path(area) %>
    <% end %>
  </span>
  <% if area.children.present? %>
    <ul class="tree">
      <%= render area.children %>
    </ul>
  <% end %>
</li>
