<li class="draggable">
  <div class='droppable'></div>
  <span id="<%= area.id %>">
    <%= area.name %>
    <%= area.description %>
  </span>
  <span>
    <%= link_to 'Show', area %>
    <%- if signed_in? %>
      <%= link_to 'Edit', edit_area_path(area) %>
      <%= link_to 'Destroy', area, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </span>
  <% if area.children.present? %>
    <%# <span class='hider'>Collapse?</span> %>
    <ul>
      <%= render area.children %>
    </ul>
  <% end %>
</li>
