%tr(id="#{area.name}")
  %td
    = area.tree_name
  %td
    = area.description
  %td
    = area.study_name
  %td
    = link_to 'Show', area
  %td
    = link_to 'Edit', edit_area_path(area)
  %td
    = link_to 'Destroy', area, :confirm => 'Are you sure?', :method => :delete

- unless area.children.empty?
  = render area.children
