%li
  - unless area.root?
    %div.droppable
  %span{:id=>"#{area.id}", :draggable=>'true'}
    = area.name
    = area.description
  %span
    = link_to 'Show', area
    -if signed_in?
      = link_to 'Edit', edit_area_path(area)
      = link_to 'Destroy', area, :confirm => 'Are you sure?', :method => :delete

  - if area.children.present?
    %ul
      = render area.children
