<div class="col-sm-12">
<%= render "shared/error_messages", :target => area %>
<%= form_for area, html: {role: "form", role: "form" } do |form| %>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="area_name" class="control-label">Name</label>
      <%= form.text_field :name, placeholder: "a short unique name", class: "form-control" %>
    </div>
    <div class="form-group" >
      <label for="area_description" class="control-label">Description</label>
      <%= form.text_area :description, placeholder: "describe the area", class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="area_study" class="control-label">Study</label>
      <%= form.select :study, Study.all.map {|study| [study.name, study.id]},  { include_blank: true }, class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="area_treatment" class="control-label">Treatment</label>
      <%= form.select :treatment, Treatment.all.map {|trt| [trt.name, trt.id]}, { include_blank: true }, class: "form-control" %>
    </div>
    <%= form.submit :submit, class: "btn btn-primary" %>
  </div>
<% end %>
</div>
