= render "shared/error_messages", :target => area
= simple_form_for area do |form|
  = form.input :name
  = form.input :description
  = form.input :study
  = form.input :treatment
  = form.input :replicate
  = form.button :submit
