%h1 Listing areas

= link_to 'New area', new_area_path

%table
  %tr
    %th Name
    %th Description
    %th Study

  - @areas.each do |area|
    %tr
      %td
        = area.name
      %td
        = area.description
      %td
        = area.study.try(:name)
      %td
        = link_to 'Show', area_path(area)
      %td
        = link_to 'Edit', edit_area_path(area)
      %td
        = link_to 'Destroy', area_path(area), :confirm => 'Are you sure?', :method => :delete