<h1>Editing Unit</h1>
<div class="row col-sm-5">
<%= form_for(:unit, :url => unit_path(@unit), html: {role: "form", class: "form", method: :put}) do |f| %>

  <%= render partial: "form", locals: {f: f} %>

  <div class="form-group">
    <%= submit_tag "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Show', unit_path(@unit) %> |
<%= link_to 'List', units_path %>
</div>
