%h1 Available Units

- if signed_in?
  %div.row
    = link_to "New Unit", new_unit_path

%div.row.col-sm-8
  %table.table
    %tr
      %th Name
      %th Conversion Factor to
      %th S.I. Unit
      -if signed_in?
        %th
        %th
        %th

    - @units.each do |unit|
      %tr
        %td
          =h unit.name
        %td
          =h unit.conversion_factor
        %td
          = unit.si_unit_name
        -if signed_in?
          %td
            = link_to 'Show', unit_path(unit)
          %td
            = link_to 'Edit', edit_unit_path(unit)
          %td
            = link_to 'Destroy', unit_path(unit), 
              :data => {:confirm => "Are you sure you want to delete #{unit.name}?"}, 
              :method => :delete

%div.row.col-sm-8
  - if signed_in?
    = link_to 'New Unit', new_unit_path
