%h1 Listing Units

- if signed_in?
  = link_to "New unit", new_unit_path

%table.table
  %tr
    %th Name
    %th S.I. Unit
    %th Conversion Factor

  - @units.each do |unit|
    %tr
      %td
        =h unit.name
      %td
        = unit.si_unit_name
      %td
        =h unit.conversion_factor
      -if signed_in?
        %td
          = link_to 'Show', unit_path(unit)
        %td
          = link_to 'Edit', edit_unit_path(unit)
        %td
          = link_to 'Destroy', unit_path(unit), 
            :data => {:confirm => "Are you sure you want to delete #{unit.name}?"}, 
            :method => :delete

%br

- if signed_in?
  = link_to 'New Unit', new_unit_path
