<h1>Show Unit</h1>
<p>
	<table>
		<tr>
			<td align="right"><b>Name: &nbsp</b></td>
	 		<td align="left"><%=h @unit.name %></td>
	 	</tr>
		<tr>
	 		<td align="right"><b>SI_Unit: &nbsp</b></td>
	 		<td align="left"><%=h @unit.si_unit_id %></td>
	 	</tr>
		<tr>
	 		<td align="right"><b>Conversion Factor: &nbsp</b></td>
	 		<td align="left"><%=h @unit.conversion_factor %></td>
	 	</tr>
		<tr>
	 		<td align="right"><b>Is SI Unit: &nbsp</b></td>
	 		<td align="left"><%=h @unit.is_si_unit%></td>
	 	</tr>
	</table>
</p>

<%= link_to 'List', units_path %>
