<%= render "shared/error_messages", target: material %>
<%= form_for material do |form| %>
  <div class="col-sm-6">
    <label for='material_name' class="control-label">Name</label>
    <%= form.text_field :name %>
  </div>
  <div class="col-sm-6">
    <%= form.check_box:archived %>
    <label for='material_archived' class="control-label">Archved</label>
  </div>
  <div class="col-sm-6">
    <label for='material_liquid' class="control-label">Liquid</label>
    <%= form.check_box:liquid, label: 'Liquid?' %>
  </div>
  <div class="col-sm-6">
    <label for='material_material_type_id' class="control-label">Material Type</label>
    <%= form.select :material_type_id, collection: MaterialType.all.collect {|x| [x.name, x.id]} %>
  </div>
  <div class="col-sm-6">
    <label for='material_n_content' class="control-label">N(%)</label>
    <%= form.number_field :n_content %>
  </div>
  <div class="col-sm-6">
    <label for='material_p_content' class="control-label">P(%)</label>
    <%= form.number_field :p_content %>
    not P2O5
  </div>
  <div class="col-sm-6">
    <label for='material_k_content' class="control-label">K(%)</label>
    <%= form.number_field :k_content %>
  </div>
  <div class="col-sm-6">
    <label for='material_specific_weight' class="control-label">Specific Weight (kg/L)</label>
    <%= form.number_field :specific_weight %>
  </div>
  <div class="col-sm-6">
    <label for='material_salus_code' class="control-label">Salus Code</label>
    <%= form.text_field :salus_code%>
  </div>
  <div class="col-sm-6">
    <%= form.button :submit %>
  </div>
<% end %>
