<h1>Set Hazards</h1>
Material: <%= @material.name %>
<%= form_for(:hazard, :url => "/materials/#{@material.id}/put_hazards", :html => { :method => :put }, :remote => true) do |f| %>

  <table>
    <tr>
      <th>Selected</th>
      <th>Id</th>
      <th>Name</th>
      <th>Type</th>
      <th>chemical_name</th>
      <th>Exclusion time</th>
    </tr>
    <% hazard_choices.each do |hazard| %>
      <% checked_word = if @material.hazards.include?(hazard) then "checked" else "" end %>
      <tr>
        <td align="center">
          <input type=checkbox name="hazards[<%= hazard.id %>]" value="<%= hazard.id %>" <%= checked_word %> />
        </td>
        <td><%= hazard.id %>  </td>
        <td><%= hazard.name %>    </td>
        <td><%= hazard.hazard_type %>  </td>
        <td><%= hazard.chemical_name %>  </td>
        <td><%= hazard.exclusion_time_days %>  </td>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "Update", :class => "remote_updater" %>
  <p><input type=button class="closer" value='Close' /></p>
<% end %>