%h1 Listing materials

%table
  %tr
    %th(align="left") Name
    %th Material Type

  - @materials.each do |material|
    %tr
      %td
        = material.name
      %td
        = material.material_type_name
      %td
        = link_to 'Show', material
      %td
        = link_to 'Edit', edit_material_path(material)
      %td
        = link_to 'Destroy', material, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New material', new_material_path