%h2 Show Material
= render "shared/error_messages", :target => @material
%p
  %b Name:
  = @material.name
  = "(Liquid)" if @material.liquid?
  %br
  %b Material Type
  %br
  - if @material.material_type
    = @material.material_type_name
    %br
    - if @material.material_type_id == 3
      %b N:
      = @material.n_content
      %b P:
      = @material.p_content
      %b K:
      = @material.k_content
%p
  = render 'hazards', :hazards => @material.hazards

- unless @material.material_transactions.empty?
  %br
  %b Transactions:
  - @material.observations.each do |observation|
    %p
      = link_to observation.obs_date, observation_path(observation)
      = observation.observation_type
      = observation.comment
%p
  = link_to 'Edit Material', edit_material_path(@material)
  |
  = link_to 'List Materials', materials_path

