<div class="activity">
  <%= semantic_fields_for activity do |f| %>
    <%= f.hidden_field :observation_id %>
    <%= f.inputs do %>
      <%= f.input :person, :label => 'Worker'%>
      <%= f.input :hours, :input_html => {  :size => 10 } %>
     <% end %>
  <% unless activity.new_record? %>

    <fieldset id='setups'>
      <legend>Setups</legend>
        <%= render activity.setups %>
        <div>
          <input type="button" class="toggler" value="Display\Hide new setup?" />
          <div style="display: none">
            <%= render activity.setups.new %>
          </div>
        </div>
      <%= link_to 'delete activity', activity_path(activity), :class => "deleter" %>
    <% end %>
  <% end %>
</div>
