<table>
  <tr>
    <th><%= link_to 'Date', reports_path(:order => 'date') %></th>
    <th><%= link_to 'Plot', reports_path(:order => 'plot') %></th>
    <th><%= link_to 'Material', reports_path(:order => 'material') %></th>
    <th>Rate</th>
    <th>N (kg/ha)</th>
    <th>P (kg/ha)</th>
    <th>K (kg/ha)</th>
  </tr>
  <% @transactions.each do |t| %>
    <tr>
      <td><%= t.setup.activity.observation.obs_date %></td>
      <td><%= t.material.name %></td>
      <td><%= "#{pluralize(t.rate,t.unit.name)} per acre" if t.unit %></td>
      <td><%= t.n_content_to_kg_ha %></td>
      <td><%= t.p_content_to_kg_ha %></td>
      <td><%= t.k_content_to_kg_ha %></td>
      <td><%= link_to "show", observation_path(t.setup.activity.observation_id) %></td>
    </tr>
  <% end %>
</table>