<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Aglog : <%= controller.controller_name.titleize %> : <%= controller.action_name.titleize %></title>
  <%= javascript_pack_tag 'application' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"></link>
  <%= stylesheet_link_tag "application" %>

  <%= csrf_meta_tag %>
</head>
<body data-no-turbolink="true">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Aglog</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class='nav-item <%= "active" if controller.controller_name == 'observations' %>'><%= link_to 'Observations', observations_path, class: 'nav-link' %></li>
      <li class='nav-item <%= "active" if controller.controller_name == 'areas' %>'><%= link_to 'Areas', areas_path, :accesskey => 'A', class: 'nav-link' %></li>
      <% if user_signed_in? %>
        <li class='nav-item <%= "active" if controller.controller_name == 'people' %>'><%= link_to 'People', people_path, :accesskey => 'P', class: 'nav-link' %></li>
      <% end %>
      <li class='nav-item <%= "active" if controller.controller_name == 'materials'%>'><%= link_to 'Material', materials_path, :accesskey =>'M',class: 'nav-link' %></li>
      <li class='nav-item <%= "active" if controller.controller_name == 'equipment' %>'><%= link_to 'Equipment', equipment_index_path, :accesskey => 'E' , class: 'nav-link'%></li>
      <li class='nav-item <%= "active" if controller.controller_name == 'units' %>'><%= link_to 'Units', units_path, :accesskey => 'U', class: 'nav-link' %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: 'nav-link' %></li>
        <li><a href="/public/pesticde_application_record.pdf" class: 'nav-link' target="_blank">Pesticide Application Record</a></li>
      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path, class: 'nav-link'  %></li>
      <% end %>
    </ul>
    <form class="form-inline navbar-right" action="/observations" role="search">
      <div class="form-group">
        <input type="text" name="query" class="form-control" placeholder="Search Comments" value=<%= @query %>>
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
  </nav>

  <%= yield :header %>
</div>
<div class="container" id="main_page">

  <p style="color: green"><%= flash[:notice] %></p>
  <p style="color: red"><%= flash[:error] %></p>

  <%= yield %>

</div>
</body>
</html>
